*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh bottom;
}



.encabezado {
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    grid-area: encabezado;
}

.contenido {
    grid-area: contenido;
    padding: 0 2rem;
}

.rodapie { 
    grid-area: rodapie;
    background: #fdfdfd;
    color: #333333;
    padding: 1rem;
    text-align: center;
}


